<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>
            {{ siteTitle }} | TodoraApp
        </title>

        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous"
        >
    </head>
    <body>
        <nav class="navbar navbar-inverse bg-primary">
            <div class="container">
                <a class="navbar-brand" href="/">Todora</a>
            </div>
        </nav>

        <main class="container">
            {% block content %}{% endblock %}
        </main>

        <noscript>
            JS is disabled. App can't work without enabled JavaScript.
        </noscript>

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
                crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
                integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                crossorigin="anonymous"
        ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous"
        ></script>

        <script src="https://rawgit.com/serbanghita/formToObject.js/master/dist/formToObject.min.js"></script>

        <script>
            const ajaxForms = document.querySelectorAll(".js-form-ajax");

            ajaxForms.forEach(form => {
                form.addEventListener("submit", event => {
                    event.preventDefault();

                    const headers = new Headers();
                    const form = event.target;
                    const formData = formToObject(event.target);
                    const url = form.getAttribute("action");
                    const method = form.getAttribute("method");

                    headers.append("X-Requested-With", "XMLHttpRequest");

                    fetch(
                        url,
                        {
                            method: method,
                            body: JSON.stringify(formData),
                            credentials: "same-origin",
                            headers: headers
                        }
                    ).then(response => {
                        if (response.status !== 200) {
                            alert("Something goes wrong: " + response.statusText);

                            return;
                        }

                        window.location.reload(true);
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>
