<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>
            {{ siteTitle }} | TodoraApp
        </title>

        <link rel="icon" type="image/png" sizes="any" href="{{ asset('favicon/favicon.png') }}">
    </head>
    <body>
        <main>
            <div class="top-bar">
                <h1 class="top-bar__header">
                    <a href="{{ path("todora.board.index") }}" class="top-bar__link">
                        Todora
                    </a>
                </h1>
                <hr class="top-bar__hr">
            </div>

            {% block content %}{% endblock %}
        </main>

        <noscript>
            JS is disabled. App can't work without enabled JavaScript.
        </noscript>
    </body>
</html>
