$left-column-size: 30%;
$right-column-size: 70%;
$gap-size: 3em;

.columns {
    font-size: 1rem;

    display: flex;

    .columns__column--left {
        width: $left-column-size;
    }

    .columns__column--right {
        margin-left: $gap-size;
        width: calc(#{$right-column-size} - #{$gap-size});
    }
}
