@import "variables";

html {
    font-size: 16px;
}

html, body {
    background: $color-background;
}

body {
    font-size: 1rem;
    max-width: 60em;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
