@import "variables";

.projects-list {
    font-size: 1rem;

    .projects-list__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .projects-list__list-item {
        display: block;
    }

    .projects-list__link {
        display: block;
        color: $color-text;
        padding: 15px 10px;
        transition: .15s background, .15s color;
        text-decoration: none;

        &.projects-list__link--active {
            color: $color-lists-background;
            background: $color-text;
            pointer-events: none;
        }

        &:not(.projects-list__link--active):hover {
            background: $color-hover;
            color: $color-lists-background;
        }
    }
}
