@import "variables";

.tasks-list {
    font-size: 1rem;
    color: $color-text;

    .tasks-list__task {
        display: flex;
        align-items: center;
        margin-bottom: 1.1em;
        height: 3em;
        transition: background .15s;

        &:hover {
            background: lighten($color-background, 2%);
        }
    }

    .tasks-list__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;

        &.tasks-list__list--show {
            display: block;
        }
    }
}
