@import "variables";

$margin-x: .65em;

.top-bar {
    font-size: 1rem;

    .top-bar__header {
        display: flex;
        margin: $margin-x 0;
        font-size: 2em;
        font-weight: 300;
    }

    .top-bar__link {
        color: $color-text;
        text-decoration: none;
        letter-spacing: -1px;
        transition: color .15s;
        line-height: 1;
        display: flex;

        &:hover {
            color: $color-hover;
        }

        &:before {
            content: "";
            background: url("../svg/cloud-check.svg") center center no-repeat;
            background-size: 100%;
            width: 1.3em;
            height: 1em;
        }
    }

    .top-bar__hr {
        font-size: 2em;
        margin: $margin-x 0;
        background: $color-lists-background;
    }
}
